html, body, body > div {
  width: 100%;
  height: 100%;
}

a {
  cursor: pointer;
}
.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

ya-map {
  width: 100%;
  height: 100%;
  display: block;
}

.window {
  width: 200px;
  min-height: 200px;
  z-index: 500;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: transparent;
  border: none;
  height: 400px;
}
.window .wrapper {
  position: absolute;
  left: 0px;
  right: 45px;
  top: 0;
  bottom: 0;
  background-color: rgba(51,51,51,.9);
  color: white;
  overflow: hidden;
}

.window.role-filter {
  width: 300px;
  min-height: 0;
  height: 52px;
  background: rgba(51,51,51,.9);
  margin: 0 50px;
  top: 20px;
}

.window.search {
  width: 500px;
  min-height: 0;
  height: 52px;
  background: rgba(51,51,51,.9);
  margin: 0 370px;
  top: 20px;
}
.window.find-route {
  width: 70px;
  min-height: 0;
  height: 52px;
  background: rgba(51,51,51,.9);
  right: 50px;
  top: 20px;
  left: auto;
}
button.route {
  cursor: pointer;
  -webkit-mask: url(../pointer.svg);
  mask: url(../pointer.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 35px;
  height: 30px;
  display: inline-block;
  color: white;
  background-color: white;
  background-position: 50%;
  background-size: 80%;
  fill: white;
  margin-left: 3px;
}
button.route:hover {
  background-color: #ffc84b;
}
.search.form-control {
  border-radius: 5px 0 0 5px;
}
.btn.search {
  background-color: #00a8d5;
  border-radius: 0 5px 5px 0;
  width: 78px;
}

.window.object-tree {
  left: 50px;;
  top: 100px;
  width: 300px;
  background-color: rgba(51,51,51,.9);
  color: white;
}
.panel, .panel .wrapper {
  padding: 10px;
}

.panel a {
  color: #ffc84b;
  padding-left: 10px;
}
.panel .handle, .panel .exit {
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:40px;
  background: #ffc84b;
  color:#fff;
  border-radius: 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ffc84b;
}
.panel .handle {
  background-image: url('../move.png');
}
.panel .exit {
  background-image: url('../close.png');
  top: 45px;
}

.window.panel.object-card {
  left: 70%;
  top: 100px;
  width: 350px;
}
.window.panel.object-card.element {
  left: 60%;
  top: 100px;
  width: 400px;
}
.window.panel.route_finder {
  left: 50%;
  top: 100px;
  width: 700px;
  height: 520px;
  text-align: center;
}
.window.panel.route_finder label{
  text-align: right;
}

.form-buttons {
  margin-right: 15px;
}
.hidden {
  display: none;
}
.navbar-form .form-control {
  width: 83.33333333%;
}

.list-unstyled {
  margin-left: 15px;
}

.cluster_layout_container {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 5px;
  border: 1px dashed red;
}

.navbar-default .navbar-form, .navbar-default .navbar-form .form-group {
  padding-left: 0px
}

.navbar-default.search .navbar-form, .navbar-default.search .navbar-form .form-group {
  padding-left: 0px;
  padding-right: 0px
}

.role-select {
  width: 340px;
}

.scroller {
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.tree-label {
  font-size: 16px;
  cursor: pointer;
}
.tree_button {
  cursor: pointer;
  -webkit-mask: url(../arrow.svg);
  mask: url(../arrow.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 20px;
  height: 14px;
  display: inline-block;
  color: white;
  background-color: white;
  background-position: 50%;
  background-size: 80%;
  fill: white;

}
.up {
  transform: rotate(180deg);
  margin-bottom: -3px;
}

.down {
  margin-bottom: 3px;
}

pre {
  background-color: transparent;
  color: beige;
}
.label {
  margin-top: 2px;
}

h4 {
  border: 1px solid #ffc84b;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
  margin-bottom: 10px;
}

.dl-horizontal dt {
  width: 100px;
}

.dl-horizontal dd {
  margin-left: 110px;
}

.panel {
  background-color: transparent;
}

.btn-plus-route {
  border-radius: 50%;
  padding: 8px 12px;
  margin: 10px 0px;
}

hr {
  margin-top: 7px;
  margin-bottom: 7px;
}
.panel-group .panel {
  padding: 0px;
  width: 620px;
}
.panel-body {
  padding: 7px;
}
/*.route_finder .wrapper {*/
  /*position: relative;*/
/*}*/
.route_finder .buttons {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 45px;
  padding-top: 5px;
  background: repeating-linear-gradient(
    -55deg,
    #222,
    #222 10px,
    #333 10px,
    #333 20px
  );
}
.route_finder h3 {
  text-align: left;
}
.route_finder .btn {
  color: #ffffff;
}
.route_finder .buttons .pull-right {
  margin-right: 25px;
}

.route_finder a {
  color: #444444;
}

a:focus {
  -webkit-appearance: none;
  outline: none;
}





.ps-container.ps-active-x > .ps-scrollbar-x-rail, .ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block; }
.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px; }
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px; }
.ps-container > .ps-scrollbar-x-rail.in-scrolling {
  background-color: #eee;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  -moz-transition: background-color 0.2s linear, opacity 0.2s linear;
  -o-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px; }
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color 0.2s linear;
  -moz-transition: background-color 0.2s linear;
  -o-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px; }
.ps-container > .ps-scrollbar-y-rail.in-scrolling {
  background-color: #eee;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-x-rail, .ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60); }
.ps-container:hover > .ps-scrollbar-x-rail.in-scrolling, .ps-container:hover > .ps-scrollbar-y-rail.in-scrolling {
  background-color: #eee;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999; }
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
  filter: alpha(opacity=90); }
.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999; }


.scroller {
  overflow: hidden;

}