html, body, body > div {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

ya-map {
  width: 100%;
  height: 100%;
  display: block;
}

.window {
  width: 200px;
  min-height: 200px;
  z-index: 500;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: white;
}

.window.search {
  width: 90%;
  min-height: 0;
  height: 52px;
  background-color: navajowhite;
  margin: 0 5%;
  top: 20px;
}

.window.object-tree {
  left: 5%;
  top: 100px;
  width: 300px;
}
.panel {
  padding: 10px;
}

.navbar-form .form-control {
  width: 83.33333333%;
}

.list-unstyled {
  margin-left: 15px;
}