html, body, body > div {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

ya-map {
  width: 100%;
  height: 100%;
  display: block;
}

.window {
  width: 200px;
  min-height: 200px;
  z-index: 500;
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: transparent;
  border: none;
  height: 50%;
}
.window .wrapper {
  position: absolute;
  left: 0px;
  right: 45px;
  top: 0;
  bottom: 0;
  background-color: rgba(51,51,51,.9);
  color: white;
  overflow: hidden;
}
.window.search {
  width: 90%;
  min-height: 0;
  height: 52px;
  background: rgba(51,51,51,.9);
  margin: 0 5%;
  top: 20px;
}

.window.object-tree {
  left: 5%;
  top: 100px;
  width: 300px;
  background-color: rgba(51,51,51,.9);
  color: white;
}
.panel, .panel .wrapper {
  padding: 10px;
}

.panel a {
  color: #ffc84b;
  padding-left: 10px;
}
.panel .handle, .panel .exit {
  position:absolute;
  top:0;
  right:0;
  width:40px;
  height:40px;
  background: #ffc84b;
  color:#fff;
  border-radius: 50%;
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border: 1px solid #ffc84b;
}
.panel .handle {
  background-image: url('../move.png');
}
.panel .exit {
  background-image: url('../close.png');
  top: 45px;
}

.window.panel.object-card {
  left: 70%;
  top: 100px;
  width: 350px;
}
.navbar-form .form-control {
  width: 83.33333333%;
}

.list-unstyled {
  margin-left: 15px;
}

.cluster_layout_container {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  padding: 5px;
  border: 1px dashed red;
}

.navbar-default .navbar-form, .navbar-default .navbar-form .form-group {
  padding-left: 0px
}

.role-select {
  width: 355px;
}

.scroller {
  height: 100%;
  overflow-y: hidden;
  position: relative;
}

.tree-label {
  font-size: 16px;
}
.tree_button {
  -webkit-mask: url(../arrow.svg);
  mask: url(../arrow.svg);
  -webkit-mask-size: cover;
  mask-size: cover;
  width: 20px;
  height: 14px;
  display: inline-block;
  color: white;
  background-color: white;
  background-position: 50%;
  background-size: 80%;
  fill: white;

}
.up {
  transform: rotate(180deg);
  margin-bottom: -3px;
}

.down {
  margin-bottom: 3px;
}

.label {
  margin-top: 2px;
}

h4 {
  border: 1px solid #ffc84b;
  border-radius: 5px;
  padding: 5px;
  margin: 3px;
}
